@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");

body {
    width: 100%;
    height: 100vh;
    background-color: #484d51;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 40px;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
h1 {
    margin-bottom: 5px;
    font-size: 3rem;
    color: #ffffff;
    font-family: "Rajdhani", sans-serif;
    text-align: center;
}
.svg {
    background-color: #616b74;
    border-radius: 5px;
}
.tema {
    color: #8facc0;
    font-size: 20px;
}

.tronco,
.cabeca,
.perna-esquerda,
.perna-direita,
.braco-esquerdo,
.braco-direito {
    display: none;
}

label {
    color: white;
    margin-bottom: 5px;
    font-size: 2rem;
}

input {
    margin-bottom: 10px;
}

.submit {
    border-radius: 5px;
    width: 100px;
    outline: none;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

.letra {
    width: 200px;
    height: 30px;
    outline: none;
    border-radius: 5px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
    color: #616b74;
}

.palavra-secreta-container {
    font-size: 30px;
}

.palavra-secreta-container span {
    margin: 0 5px;
    color: white;
}

.popup-container {
    background-color: rgba(0, 0, 0, 0.849);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.popup {
    background: #2980b9;
    border-radius: 5px;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.popup button {
    cursor: pointer;
    background-color: #fff;
    border: 0;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
}
